<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.owjmedia.faaz">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".general.Global"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".general.SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".news.NewsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".authenticate.AuthenticateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vote.VoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".newsdetail.NewsDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".appinfo.AppInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ar.ArActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".galleries.GalleryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movie.MovieActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".movie.IntroActivity"
            android:theme="@style/Theme.Intro"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d1ba665adb8e73b3b721719489dffed4614ea469" />
    </application>

</manifest>